/* Estilos del header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   width: 100%;
   background: #0a141d;
   height: 70px;
}

.ancho{
    width: 80%;
    height: 70px;
    margin: auto;
}

.logo{
    width: 30%;
    height: 70px;
    float:left;
    padding-top: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    font-weight: bold;
}

.logo p a{
    color: #FFF;
    font-size: 40px;
    text-decoration: none;
}

.nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

.nav ul li{
    display: inline;
}

.nav ul li a{
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav ul li a:hover{
    color: red;
}
/*fin del header*/
/*
body{
    font-family: 'redressed', sans-serif;
    background-image: url(../img/Fondo1.jpg);
    margin: auto;
    padding: 0%;
}

.titulo-principal{
    color: blue;
    text-align-last: center;
}

section{
    background-color:blueviolet;
    font-size: 25px

}

h1{
    position: center;
}
*/
/*Footer*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #FFF;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #FFF;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: red;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #FFF;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 35px 0px;
    }
}